@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body {
    padding: 25px;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #fef8f8 ;
    color: black;
    font-size: 25px;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }
  button{
      border: none;
      background: none;
  }
  .moon {
      width: 40px;
      height: 40px;
  }


/*main cards*/
  :root {
    --surface-color: #fff;
    --curve: 40;
  }
  
  * {
    box-sizing: border-box;
  }
  
  a{
    text-decoration: none;
    color: #6A515E;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
  }
  
  .card {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
  }
  
  .card__image {      
    width: 100%;
    height: auto;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: #fbe6c3;      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) calc(var(--curve) * 1px) 0 0;    
    background-color: #fbe6c3;
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
         
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
  }
  
  .card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #D7BDCA;  
  }
  
 
  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #6A515E;
    font-family: "MockFlowFont";   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }    

  /*upload card*/
  .cardup {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: calc(var(--curve) * 1px) ;
    background-color: #fffcf2;
    transition: 0.3s;
    width: 40%;
  }
  
  .cardup:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: calc(var(--curve) * 1px);
    background-color: #fffcf2;
  }
  
  .containerup {
    padding: 2px 16px;
  }
  img#up{
      border-radius: calc(var(--curve) * 1px) calc(var(--curve) * 1px) 0 0;
  }
  .upload,html
  {
      width: 100%;
      height: 100%;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  }


  /*Log In*/
  form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button.cancelbtn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 80%;
  border-radius: 100%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

#formula
{
  background-color: #f44336;
}

img.avatar2
{
  width: 100%;
  height: 100%;
}

/*nav*/
.pill-nav a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

.pill-nav a.active {
  background-color: #fdd58f;
  color: white;
}